.navbar.navbar-inverse .navbar-brand, .sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover, .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active > a, .label.label-theme, .btn.btn-scroll-to-top {
    background: #46bef1; !important;
}
.btn .btn-success {
    background: #46bef1; !important;
}

.panel-info>.panel-heading {
    background: #46bef1 !important;
}

.bg-uzapoint {
    background: #DEE0E2;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #46bef1 !important;
}

.btn.btn-primary {
    color: #fff;
    background: #46bef1 !important;
    border-color: #46bef1 !important;
}

.panel-success>.panel-heading {
    background: #46bef1 !important;
}

.btn.btn-success {
    color: #fff;
    background: #46bef1 !important;
    border-color: #46bef1 !important;
}
.text-uzapoint {
    color: #46bef1 !important;
}

.text-uzapoint-light {
    color: #323643 !important;
}

.text-uzapoint-bold {
    font-weight: bold !important;
}

.tabs-uzapoint {
    background: #46bef1 !important;
}

.align-uzapoint {
    text-align: center;
}

.graph-height {
    max-height: 150px !important;
}

.btn-uzapoint {
    background: #6e7179 !important;
}

.basic_uzapoint {
    background: rgba(244, 185, 66, 0.2) !important;
}

input[type="text"]:read-only {
    color: blue;
}

.required-uzapoint {
    color: #ff3640 !important;
}
.required{
    color: #ff3640 !important;
}

.available{
    color: #13ff64 !important;
}

.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 3px solid #c99;
    background-position: center center;
    background-size: cover;
}

.tooltip_uzapoint {
    position: relative;
    display: inline-block;
}

.tooltip_uzapoint .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 120%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip_uzapoint .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_uzapoint:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@page {
    header: page-header;
    footer: page-footer ;
}

page-footer {
    align-content: center;
}

.nav.nav-tabs a:active {
    background-color: #f5f6fa !important;
}

.dependable-color {

    background: rgb(242, 234, 241);
}

.modal {
    visibility: visible;
    opacity: 0.6
}
.img-circle {
    border-radius: 50%;
    align-items: center;
    display: flex;
    margin: auto !important;
}

#app{
    box-shadow: 3px 2px 6px 6px rgba(204, 204, 204, 0.8 ) !important;

}
.mb-5{
    margin-bottom: 10px;
}
