<template>
    <div>
        <form @click.prevent class="form-horizontal form-bordered">
            <div class="form-group">

                <label class="control-label col-md-2">Method Of Payment <span class="required-uzapoint">*</span></label>

                <div class="col-md-4">
                    <input type="radio" class="custom-radio payment_method_option" value="cash_option" name="payment_method">
                    <span style="color: lightskyblue ; font-size: 10px">Cash (4 %) discount</span>
                    <input type="radio" class="custom-radio payment_method_option" value="installment_option"
                           name="payment_method">
                    Installment
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            reservation: String
        },

        name: "EditReservationDetails",

        data(){
            return {


            }
        }
    }
</script>

<style scoped>

</style>